<ui-suggest [items]="items"
            [searchable]="true">
</ui-suggest>

<form [formGroup]="form">
  <mat-form-field appearance="legacy">
    <ui-suggest [items]="items"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>




<ui-suggest [items]="items"
            direction="up"
            [searchable]="true">
</ui-suggest>

<form [formGroup]="form">
  <mat-form-field appearance="legacy">
    <ui-suggest [items]="items"
                direction="up"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                direction="up"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                direction="up"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>cacao</mat-label>
    <ui-suggest [items]="items"
                direction="up"
                [searchable]="true"
                placeholder="cacao"
                formControlName="suggest">
    </ui-suggest>
  </mat-form-field>
</form>
